<div class="modal-rules zindex popout col-md-5">
    <div class="modal-header">House Rules</div>
    <div class="modal-content">
        <ul>
            <li>Use common sense.</li>
            <li>Don't damage builds and land, or take property that does not belong to you. This applies to pets, animals and livestock that are clearly owned by other players too.</li>
            <li>Use of utility mods and clients is at your own discretion. It can't easily be prevented and I know some of you will cheat but if you do it openly, brag about it or make it obvious, I will remove you from the whitelist.</li>
            <li>Please don't build expensive redstone clocks. They cause low server TPS and make it unenjoyable for everyone.</li>
        </ul>
    </div>
</div>